{{#*inline "head"}}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <title>USAJOBSmapper</title>
{{/inline}}

{{#*inline "body"}}

    <nav class="navbar">
        <div class="container-xl">
            <div>
                <a href="/search" class="h1 mapper">USAJOBSmapper</a> 
            </div>
            <div>
                <a href="/search/notes">Notes</a>
            </div>
        </div>
    </nav>
    <div class="container-xl my-5">
        <span id="map_holder">
            <div class="row map" id="map" style="height: 1000px;">
            </div>
        </span>
    </div>

    <script type="text/javascript">
        function positions() {
            var a = "{{ positions }}";
            var b = a.substring(6, a.length - 6);
            while (b.includes("&quot;")) {
                b = b.replace("&quot;", '"');
            }
            var d = JSON.parse(b);
            console.log("positions and stuff", d);
            return d;
        }
        function continental_us() {
            return {{ continental_us }};
        }
        function radius() {
            return {{ radius }};
        }
        function radius_center() {
            return {{ radius_center }};
        }
        {{!-- positions(); --}}
    </script>
    <script src="/static/js/mapper.js"></script>
    <script src="/static/js/locations.js"></script>

    {{!-- {% if content.scrol_to_anchor %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.location.hash = '#{{ content.scrol_to_anchor }}';
        });
    </script>
    {% endif %} --}}

{{!-- <section id="hello">
  <h1>Hi {{ name }}!</h1>
  <h3>Here are your items:</h3>
  <ul>
    {{#each items}}
      <li>{{ this }}</li>
    {{/each}}
  </ul>
</section>

<section id="custom-helper">
  <p>Try going to <a href="/search/hello/Your%20Name">/search/hello/Your Name</a>.</p>
  <p>Also, check {{ wow "this" }} (custom helper) out!</p>
</section> --}}

{{/inline}}
{{~> (parent)~}}
